.theme{
    color: #e2daf1;
    background-color: #171717;
    overflow-x: hidden;
    overflow-y: auto;
}
hr{
    background-color: #fff;
}
.decor li a, .decor li{
    text-decoration: none;
    list-style: none;
    color: #e2daf1;
    line-height: 1.8;
    padding: 4px 0px;
    display: block;
}
.decor li a:hover{
    color: #e2e2e2;
    background: rgba(105, 105, 105, 0.1);
}
.outerdiv1{
    width: 25%; padding: 25px;
}
.rightsidebar{
    padding: 25px 70px 25px 25px; 
    width: 74%;
    border-left: 3px solid indigo;
    margin: auto;
}
li{
    line-height: 1.7;
}

/* ------------Header Section----------- */
.header a{
    font-size: 2rem;
}
.header a:hover{
    font-size: 2.2rem;
}

@media (max-width: 620px){
    .outerdiv1{
        display: none;
        content: none;
    }
    .adis{
        width: 100%;
    }
}